body{
        background-color:gray;
}
h1{
        color: white;
}


#square1{
        background-color: darkgoldenrod;
        width: 100px; 
        height: 100px; 
        margin: 10px 10px 10px 10px;
}
#square2{
        background-color: darkgoldenrod;
        width: 100px; 
        height: 100px; 
       margin: 10px 10px 10px 10px;
}
#square3{
        background-color: darkgoldenrod;
        width: 100px; 
        height: 100px; 
        margin: 10px 10px 10px 10px;
}
#square4{
        background-color: darkgoldenrod;
        width: 100px; 
        height: 100px; 
        margin: 10px 10px 10px 10px;
}